/* *body{
  background-color: #212529; ;
}

.welcome-container{
  color: red;
}
.services{
  height: 100vh;
}
.work{
  height: 100vh;
}
.roles{
  color: aqua;
}

.h2{
  color: rebeccapurple;
}

p{
  color: rebeccapurple;
} */