*body{
  background-color: #212529; ;
}
.welcome{
  height: 100vh;
  margin: auto;
  background-color: #16232e;
}
.welcome-container{
  color: red;
}
.services{
  height: 100vh;
}
.work{
  height: 100vh;
}
.roles{
  color: aqua;
}

.h2{
  color: rebeccapurple;
}

p{
  color: rebeccapurple;
}